Ruanmou/Ruanmou.WebService/WcfUnitTest/Connected Services/TcpService/Ruanmou.WCF.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ruanmou.WCF.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ruanmou.WCF.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SysUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="descri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SysUser" nillable="true" type="tns:SysUser" />
  <xs:complexType name="ArrayOfSysUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SysUser" nillable="true" type="tns:SysUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSysUser" nillable="true" type="tns:ArrayOfSysUser" />
</xs:schema>