Ruanmou/Ruanmou.WebService/WcfUnitTest/Connected Services/BigZhanMyWcf/BigZhanWcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50097/Remote/BigZhanWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DB" />
  <xs:import schemaLocation="http://localhost:50097/Remote/BigZhanWcf.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ruanmou.WCF.Remote" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStr">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStrResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DB" minOccurs="0" name="GetUserListResult" nillable="true" type="q1:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ruanmou.WCF.Remote" minOccurs="0" name="GetAnimalResult" nillable="true" type="q2:ArrayOfAnimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>