Ruanmou/Ruanmou.WebService/WcfUnitTest/Connected Services/BigZhanMyWcf/BigZhanWcf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BigZhanWcf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50097/Remote/BigZhanWcf.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50097/Remote/BigZhanWcf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50097/Remote/BigZhanWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DB" />
      <xsd:import schemaLocation="http://localhost:50097/Remote/BigZhanWcf.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ruanmou.WCF.Remote" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBigZhanWcf_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IBigZhanWcf_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IBigZhanWcf_GetStr_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStr" />
  </wsdl:message>
  <wsdl:message name="IBigZhanWcf_GetStr_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStrResponse" />
  </wsdl:message>
  <wsdl:message name="IBigZhanWcf_GetUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserList" />
  </wsdl:message>
  <wsdl:message name="IBigZhanWcf_GetUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListResponse" />
  </wsdl:message>
  <wsdl:message name="IBigZhanWcf_GetAnimal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnimal" />
  </wsdl:message>
  <wsdl:message name="IBigZhanWcf_GetAnimal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnimalResponse" />
  </wsdl:message>
  <wsdl:portType name="IBigZhanWcf">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IBigZhanWcf/DoWork" message="tns:IBigZhanWcf_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBigZhanWcf/DoWorkResponse" message="tns:IBigZhanWcf_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStr">
      <wsdl:input wsaw:Action="http://tempuri.org/IBigZhanWcf/GetStr" message="tns:IBigZhanWcf_GetStr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBigZhanWcf/GetStrResponse" message="tns:IBigZhanWcf_GetStr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBigZhanWcf/GetUserList" message="tns:IBigZhanWcf_GetUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBigZhanWcf/GetUserListResponse" message="tns:IBigZhanWcf_GetUserList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnimal">
      <wsdl:input wsaw:Action="http://tempuri.org/IBigZhanWcf/GetAnimal" message="tns:IBigZhanWcf_GetAnimal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBigZhanWcf/GetAnimalResponse" message="tns:IBigZhanWcf_GetAnimal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBigZhanWcf" type="tns:IBigZhanWcf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IBigZhanWcf/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStr">
      <soap:operation soapAction="http://tempuri.org/IBigZhanWcf/GetStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <soap:operation soapAction="http://tempuri.org/IBigZhanWcf/GetUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnimal">
      <soap:operation soapAction="http://tempuri.org/IBigZhanWcf/GetAnimal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BigZhanWcf">
    <wsdl:port name="BasicHttpBinding_IBigZhanWcf" binding="tns:BasicHttpBinding_IBigZhanWcf">
      <soap:address location="http://localhost:50097/Remote/BigZhanWcf.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>