Ruanmou/Ruanmou.WebService/WcfUnitTest/Connected Services/BigZhanMyWcf/BigZhanWcf3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ruanmou.WCF.Remote" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ruanmou.WCF.Remote" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAnimal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Animal" nillable="true" type="tns:Animal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnimal" nillable="true" type="tns:ArrayOfAnimal" />
  <xs:complexType name="Animal">
    <xs:sequence>
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Animal" nillable="true" type="tns:Animal" />
</xs:schema>